<!DOCTYPE html>
<html>
  <head>
    <title>HeritageTechChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <center>
      <div class="flash-message">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        <% end %>
      </div>
    </center>
    <%= yield %>
  </body>
</html>
