<!DOCTYPE html>
<html>
  <head>
    <title>HeritageTechChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <center>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <%= message %>
          <button type="button" class="close btn" data-bs-dismiss="alert">×</button>
        </div>
      <% end %>
    </center>
    <%= yield %>
  </body>
</html>
